parameters:
	ignoreErrors:
		-
			message: "#^Match expression does not handle remaining values\\: int\\<min, \\-1\\>\\|int\\<3, max\\>$#"
			count: 2
			path: app/Filament/Resources/MemberResource.php

		-
			message: "#^Call to an undefined method Laravel\\\\Socialite\\\\Contracts\\\\Provider\\:\\:stateless\\(\\)\\.$#"
			count: 2
			path: app/Http/Controllers/Api/V1/Auth/OAuthController.php

		-
			message: "#^Access to an undefined property Laravel\\\\Sanctum\\\\Contracts\\\\HasAbilities\\:\\:\\$id\\.$#"
			count: 2
			path: app/Http/Controllers/Api/V1/Me/MeController.php

		-
			message: "#^Call to an undefined method Laravel\\\\Sanctum\\\\Contracts\\\\HasAbilities\\:\\:delete\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/Api/V1/Me/MeController.php

		-
			message: "#^Access to an undefined property \\(object\\|string\\)\\:\\:\\$id\\.$#"
			count: 1
			path: app/Http/Requests/Api/V1/GroupUpdateRequest.php

		-
			message: "#^Access to an undefined property \\(object\\|string\\)\\:\\:\\$id\\.$#"
			count: 1
			path: app/Http/Requests/Api/V1/MemberUpdateRequest.php

		-
			message: "#^Access to an undefined property \\(object\\|string\\)\\:\\:\\$id\\.$#"
			count: 1
			path: app/Http/Requests/Api/V1/TagUpdateRequest.php
